* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f09d7a;
    justify-content: center;
}
.title {
    font-size: 2em;
}

.button {
    margin-left: 31%;
    padding: .1em;
}

img {
    width: 30%;
    margin: 1%;
}

h6 {
    margin: 5vh;
    text-align: center;
    color: white;
    }
    